.navbar {
    min-height: 50px;
    background-color: rgba(0,0,0,0.5) !important;
    border: none;
    transition: background-color 1s ease 0s;
}
.navbarScroll{
    min-height: 50px;
    background-color: rgba(300,300,300,1) !important;
    border: none;
    transition: background-color 0.5s ease 0s;
}
.navBrand{
    color: #ffeeff !important;
    font-size: 20px;
    font-weight: 500 !important;
    font-family: "Roboto Light",sans-serif;
    margin: 0 5px;
    text-decoration: none !important;
    cursor: pointer;
}
.brandLink{
    text-decoration: none;
    font-size: 20px !important;
}
.navBrandScroll{
    color: #000000 !important;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto Light",sans-serif;
    margin: 0 5px;
    text-decoration: none !important;
    cursor: pointer;
}
.link{
    color: #ffeeff !important;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto Light",sans-serif;
    margin: 0 5px;
    text-decoration: none;
    cursor: pointer;

}
.linkScroll{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto Light",sans-serif;
    margin: 0 5px;
    text-decoration: none;
    cursor: pointer;
}
.navBrand:hover{
    color: deepskyblue !important;
    transition: 0.5s;
    background-color: rgba(0,0,0,0);
}
.navBrandScroll:hover{
    color: deepskyblue !important;
    transition: 0.5s;
    background-color: rgba(0,0,0,0);
}
.link:hover{
    color: deepskyblue !important;
    transition: 0.5s;
    background-color: rgba(0,0,0,0);
}
.linkScroll:hover{
    color: deepskyblue !important;
    transition: 0.5s;
    background-color: rgba(0,0,0,0);
}
.active{
    color: skyblue;
}
.overlay{
    background-size: cover;
    width: 100%;
    position: absolute;
    min-height: 510px;
    background: rgba(0, 0, 0, 0.5) center ;
    padding: 0;
    margin: 0;
}
.background{
    background: url("../Images/back.jpg") no-repeat fixed center;
    background-size: cover;
    margin-top: -70px;
    width: 100%;
    min-height: 510px;
}
.topBar{
    margin-top: 12rem;
    color: white;
    font-size: 18px;
    font-family: Roboto sans-serif;
    font-weight: 700;
}
.form{
   padding: 0.8rem 10rem;
    text-align: left;
}

.modal{
    margin-top: 20px;
    padding: 20px;
}

.borderTop{
    background-size: cover;
    background: url("../Images/back.jpg") no-repeat center;
    width: 100%;
    min-height: 250px;
    margin-top: -70px;
    position: relative;
    padding: 0;
}
.miniMenu{
    background-color: rgba(0,0,0,0);
    margin-top: 90px;
    max-width: 12.2rem;
    margin-left: 65.7rem;
    position: absolute;

}
.minMenuLink{
    color: #ffeeff;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto Light",sans-serif;
}
.minMenuLink:hover{
    color: blue;
    transition: 1s;
    background-color: chartreuse;
}
.mainContent{
    margin-top: 8rem;
    text-align: center;
}
.content{
    color: #ffeeff;
    font-size: 1.8rem;
    font-family: Cantarell,sans-serif;
    font-weight: 500;
}
.borderOverlay{
    background-size: cover;
    width: 100%;
    position: absolute;
    min-height: 250px;
    background: rgba(0, 0, 0, 0.5) center ;
    padding: 0;
    margin: 0;
}
.pmbtn{
    color: #ffeeff;
    border: none;
    margin: 0 5px;
    padding: 5px 25px;
    font-weight: bold;
    font-size: 1.3rem;
}
.pmbtn:hover{
    background-color: black;
    color: #61dafb;
    transition: 0.5s;

}
.modify{
    margin: 0 5px;
    padding: 5px 15px;
    font-size: 1.2rem;
}
.modify:hover{
    background-color: black;
    color: #61dafb;
    transition: 0.5s;
}

.aboutTop{
    background-size: cover;
    background: url("../Images/back.jpg") no-repeat center;
    min-height: 300px;
    width: 100%;
    margin-top: -70px;
}
.aboutTopOverlay{
    background-size: cover;
    width: 100%;
    position: absolute;
    min-height: 300px;
    background: rgba(0, 0, 0, 0.5) center ;
    padding: 0;
    margin: 0;
}
.aboutBody{
    margin-top: 110px;
    text-align: center;
}
.aboutBody h2{
    color: #61dafb;
    font-weight: 700;
    font-family: "Book Antiqua" ,sans-serif;
    font-size: 1.8rem;
}

.cardBody{
    padding: 10px 20px;
    background-color: rgba(0, 191, 255, 0.1);
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
}
.cardBody:hover{
    padding: 10px 20px;
    background-color: rgba(0, 191, 255, 0.1);
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
    box-shadow: 10px -7px 2px -3px rgba(5,192,235,0.75);
    -webkit-box-shadow: 10px -7px 2px -3px rgba(5,192,235,0.75);
    -moz-box-shadow: 10px -7px 2px -3px rgba(5,192,235,0.75);
}

.headerImg{
    position: center;
    cursor: pointer;
    width: 100%;
    height: 180px;
}
.cardText{
    text-align: left;
    font-size: 18px;
    font-family: "Courier New", sans-serif;
    padding: 8px 20px;
    font-weight: 500;
}
.cardHeader{
    font-size: 24px;
    font-family: "Roboto",serif;
    margin-top: 10px;
    font-weight: 700;
    color: rgba(0,0,0,0.8);
}
.contact{
    padding: 8px 200px;
    background-color: rgba(0,0,0,0.1);
}
.btnHover:hover{
    color: black;
    background-color: #ffeeff;
}
.btnToLink{
    text-decoration: none;
    border: 1px solid chartreuse;
    padding: 8px;
    border-radius: 10%;
    color: white;
    background-color: #61dafb;
}
.coverPic{
    background-image: url("../Images/coverPic.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 350px;
    margin-top: -60px;
}
.coverPicOverLay{
    position: absolute;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    min-height: 410px;
    margin-top: -60px;
}
.profile{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 13rem;
    right: 1rem;
    cursor: pointer;
    border: 2px solid darkgreen;
}
.profile:hover{
    transition: 0.3s;
    border: 2px solid white;
}
.imgUpload{
    position: absolute;
    margin-top: 21rem;
    text-align: right;
    justify-content: start;
}
.uploadBtn1{
    margin:0;
    padding: 3px 8px;
    background-color: rgba(0,0,0,0);
}
.uploadBtn2{
    padding: 3px 18px;
    margin-top: 5px;
    margin-right: 0;
    background-color: rgba(0,0,0,0);
}
.uploadBtn1:hover,.uploadBtn2:hover{
    background-color: #ffeeff;
    color: black;
    transition: 0.5s;
}
.boxWidth{
    min-width: max-content;
}

.bazarModify{
    margin: 0 5px;
    padding: 5px 15px;
    font-size: 1.1rem;
}
.bazarModify:hover{
    background-color: black;
    color: #61dafb;
    transition: 0.5s;
}
.bazarDelete{
    margin: 0 5px;
    padding: 5px 15px;
    font-size: 1.1rem;
    background-color: darkred;
}
.bazarDelete:hover{
    background-color: black;
    color: darkred;
    transition: 0.5s;
}
.messUpdateBtn:hover{
    background-color: #ffeeff;
    color: black;
}