
.navbar {
    height: 70px;
    background-color: rgba(220,220,120,0.3) !important;
    border: none;
    z-index: 100;
    transition: background-color 1s ease 0s;
}
.background{
    background-size: cover;
    margin-top: -70px;
    width: 100%;
    min-height: 580px;
    background: url("../Images/backround.jpg") no-repeat fixed center;
}
